<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "dcódigo" %></title>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="off-canvas-wrap hide-for-large-up">
      <div class="inner-wrap">

        <%= partial 'layouts/header' %>


          <div class="main-content">
            <%= yield %>
          </div>

        <a class="exit-off-canvas"></a>
      </div>
    </div>


    <%= javascript_include_tag  "all" %>
  </body>
</html>
