<!doctype html>
<html class="no-js" lang="en">

  <%= partial 'layouts/head' %>

  <body class="<%= page_classes %>">

    <div class="off-canvas-wrap">
      <div class="inner-wrap">

        <%= partial 'layouts/header' %>

        <a class="exit-off-canvas" href="#"></a>

        <div class="main-content">
          <%= yield %>
        </div>

      </div>
    </div>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
